* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#1e1e2f,#4a4a78);
    overflow: hidden;


}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;

}

.form.container{
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 40px;
    width: 300px;
    color: #fff;
}